.sectionHome2 {
  display: flex;
  flex-wrap: wrap;
  height: auto+5vh;
  background-image: url(../image/female-hand-typing-on-keyboard-of-laptop.jpg);
  background-image: no-repeat;
  background-image: fixed;
  background-image: center;
  background-size: cover;
  margin-top: 5em;
  position: relative;
  z-index: 1;
}
.sectionHome2::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.625);
  z-index: -1;
}
.card{
  display: flex;
  align-items: center;
  padding: 5em 2em;
  background-color:rgba(255, 255, 255, 0);
}

.card1{
  width: 7em;
  justify-content: center;
  align-items: center;
  border-radius: 0%;
  
}

.card-title, .card-text{
  color: map-get($Colores-Principales ,secondary );
  text-align: center;
  
}