.nina{
    filter: brightness(1.1);
    mix-blend-mode: multiply;
    height: auto;
}



.contParrafo{
    display: flex;
    flex-direction: column;
}

.s1Parrafo{
    text-align:justify;
    justify-content: center !important;
    align-items: center !important;
    
}

.sectionHome{
    
}