.contnina{
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;

}

.nina{
    filter: brightness(1.1);
    mix-blend-mode: multiply;
   max-width: 75%;
   align-items: center;
   justify-content: center;

}



.contParrafo{
    display: flex;
    flex-direction: column;
align-items: center;
justify-content: center;
}

.s1Parrafo{
    text-align:justify;
    justify-content: center !important;
    align-items: center !important;
    
}

