

$Colores-Principales: (
  "primary": $primary,
  "secondary": $secondary,
  "terciary":$terciary,
  "alternative1": $alternative1,
  "text-color": $text-color,
  "text-color2": $text-color2,

);

$Spacings: (
  "spacing-large": $spacing-large,
  "spacing-medium": $spacing-medium,
  "spacing-small": $spacing-small,
  "spacing-xsmall": $spacing-xsmall,
);

$Font-family: (
    
  "font-principal": $font-principal,
  "alternativo": $alternativo,
  "parrafos": $parrafos,
);

$Font-Sizes: (
  "text-large": $text-large,
  "text-extra-medium": $text-extra-medium,
  "text-medium": $text-medium,
  "text-base": $text-base,
  "text-small": $text-small,
);