@charset "UTF-8";
@import '~mdb-ui-kit/css/mdb.min.css';
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap");
/* Colores Principales */
/* Spacings */
/* Font-family */
/* Font-Sizes */
/* Aquí definimos las Custom properties */
:root {
  --negro: #393939;
  /* Tipografía */
}

/* Las adaptamos al modo oscuro */
@media (prefers-color-scheme: dark) {
  :root {
    --negro: #ececec;
  }
}
/* Opcional */
/* Configuramos si un usuario ha activado el modo alto contraste. (WD) */
/* Opcional */
/* Desactivamos los animations en el caso de que el usuario haya configurado el modo sin animation */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation: none !important;
    animation: none !important;
    transition: none !important;
  }
}
/* Reseteamos los margin y paddings de todas las etiquetas */
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}

/* Evitamos problemas con las imagenes */
img,
picture,
video,
iframe,
figure {
  max-width: 100%;
  width: 100%;
  display: block;
  /* opcional */
  -o-object-fit: contain;
  object-fit: cover;
  /* opcional */
  -o-object-position: center center;
  object-position: center center;
}

/* Reseteamos los enlaces para funcionar como cajas... */
a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

/* ... excepto los que se encuentran en párrafos */
p a {
  display: inline;
}

/* Quitamos los puntos de los <li> */
li {
  list-style-type: none;
}

/* Configuramos anclas suaves */
html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

/* Desactivamos estilos por defecto de las principales etiquetas de texto */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: calc(1em + 1vh);
  font-family: "Montserrat", sans-serif;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

p,
span,
a,
strong,
blockquote,
i,
b,
u,
em {
  font-size: calc(1em + 1vh);
  font-family: "Titillium Web", sans-serif;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

/* Evitamos problemas con los pseudoelementos de quotes */
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

/* Configuramos el texto que seleccionamos */
::-moz-selection {
  background-color: var(--negro);
  color: var(--blanco);
}

::selection {
  background-color: var(--negro);
  color: var(--blanco);
}

/* Nivelamos problemas de tipografías y colocación de formularios */
form,
input,
textarea,
select,
button,
label {
  font-family: inherit;
  font-size: inherit;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  background-color: transparent;
  color: inherit;
  display: block;
  /* opcional */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* Reseteamos las tablas */
table,
tr,
td {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Evitamos problemas con los SVG */
svg {
  width: 100%;
  display: block;
  fill: currentColor;
}

/* (Probándolo, no usar en producción) En el caso de añadir una  */
/* p svg{
    display: inline;
    width: initial;
  } */
/* Configuramos la tipografía para toda la web */
body {
  min-height: 100vh;
  font-size: 100%;
  font-family: "Raleway", sans-serif;
  color: #2d68a8;
}

body {
  background-image: linear-gradient(to right, #ece9e6, #ffffff);
}

.navbar {
  background-color: #ece9e6;
}

.nav-link, .dropdown-item, .dropdown-menu .nav-link {
  font-size: 1.8em;
  color: #ece9e6;
}

.dropdown-menu {
  background-color: #ece9e6;
}

.nav-link, .dropdown-item {
  margin: 1.5rem;
  color: #15623b;
  font-weight: 400;
}
.nav-link :hover, .dropdown-item :hover {
  background-color: #ece9e6;
  width: auto;
}

.btn {
  width: 15rem;
  border-radius: 0.5rem;
}

.dropdown-menu {
  border-radius: 0.5rem;
  width: auto;
  color: #15623b;
}
.dropdown-menu :hover {
  color: #00ff2a;
  background-color: #15623b;
  width: auto;
}

.logo {
  filter: brightness(1.1);
  mix-blend-mode: multiply;
}

.d-block {
  height: 50vh;
  box-shadow: 1em;
  mix-blend-mode: multiply;
}

.carousel-item {
  position: relative;
}

.carrus {
  color: rgb(255, 255, 255);
  text-shadow: rgb(0, 0, 0) 0.1em 0.1em 0.2em;
}

.nina {
  filter: brightness(1.1);
  mix-blend-mode: multiply;
  height: auto;
}

.contParrafo {
  display: flex;
  flex-direction: column;
}

.s1Parrafo {
  text-align: justify;
  justify-content: center !important;
  align-items: center !important;
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 999;
}

.loader {
  border: 5px solid #f3f3f3;
  border-top: 5px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 1s linear infinite;
          animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.content {
  display: none;
}/*# sourceMappingURL=styles.css.map */