.d-block{
   height: 50vh;
  box-shadow:1em;
  mix-blend-mode: multiply;
  
}
.carousel-item {
    position: relative;
  }
  
  
  .carrus {color: rgb(255, 255, 255); 
    text-shadow: rgb(0, 0, 0) 0.1em 0.1em 0.2em}