#whatsapp {
    position: fixed;
    bottom: 2em;
    right:2em;
 }

 .layers {
    width: 80px;
    color:#25D366;
    filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.4));
 }

 circle {
    fill: #25d366;
 }
 .path {
    fill: #fff;
 }